<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!--INDEX -->


<xacro:property name="r1_l" value="${4.416 * 0.01}"/>
<xacro:property name="r2_l" value="${3.312 * 0.01}"/>
<xacro:property name="r3_l" value="${2.887 * 0.01}"/>

<xacro:property name="i_w" value="0.001"/>

<xacro:property name="rdof0_xyz"  value="0.093608 -0.025021  0"/>
<xacro:property name="rdof0_rpy"  value="0 0 0"/>

<xacro:property  name="rdof1_xyz" value="0 0 0"/>
<xacro:property  name="rdof1_rpy" value="0 0 0"/>
 
<xacro:property  name="rdof2_xyz" value="${r1_l} 0 0"/>
<xacro:property name="rdof2_rpy" value="0 0 0"/>

<xacro:property name="rdof3_xyz" value="${r2_l} 0 0"/>
<xacro:property name="rdof3_rpy" value="0 0 0"/>

<xacro:property name="rdof4_xyz" value="${r3_l} 0 0"/>
<xacro:property name="rdof4_rpy" value="0 0 0"/>

<xacro:macro name="ahand_ring">

 	<xacro:joint_revolute       prefix="ring_dof0" parent="ahand_palm_link" xyz="${rdof0_xyz}" rpy="${rdof0_rpy}" lower="-0.13963" upper="0.05236" 	axis="0 0 1"/>
 	<xacro:joint_revolute_tube  prefix="ring_dof1" parent="ring_dof0_link" xyz="${rdof1_xyz}" rpy="${rdof1_rpy}"  lower="-0.13963" upper="0.05236" 	axis="0 -1 0" length="${r1_l}"/>
 	<xacro:joint_revolute_tube  prefix="ring_dof2" parent="ring_dof1_link" xyz="${rdof2_xyz}" rpy="${rdof2_rpy}"  lower="-1.7453"  upper="0.0" 	axis="0 -1 0" length="${r2_l}"/>
 	<xacro:joint_revolute_tube  prefix="ring_dof3" parent="ring_dof2_link" xyz="${rdof3_xyz}" rpy="${rdof3_rpy}"  lower="-1.7453"  upper="0.0" 	axis="0 -1 0" length="${r3_l}"/>
 	<xacro:joint_fixed  	    prefix="ring_dof4" parent="ring_dof3_link" xyz="${rdof4_xyz}" rpy="${rdof4_rpy}"/>

</xacro:macro> 
</robot>

