<?xml version="1.0"?>
<launch>

   <arg name="gui" default="False" />
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find sensor_models)/urdf/human_hand.xacro'" />
   <param name="use_gui" value="$(arg gui)"/>

   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<rosparam param="source_list">["hand_model/joint_states"]</rosparam>
   </node>

   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

   <!-- hand model -->
   <node name="hand_model" pkg="sensor_models"  type="hand_node"  launch-prefix="xterm -e gdb --args" args="-fixed_frame world -target_frame_vision hand_root" output="screen"/>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sensor_models)/launch/rviz/human_hand.rviz" required="true">
   	 <rosparam command="load" file="$(find hand_moveit)/config/kinematics.yaml"/>
  </node>

</launch>
